button {
  background-color: #6d9e3b !important;
  border: #6d9e3b !important;
  color: fff !important;
  z-index: 100;
  margin-bottom: 1%;
}

.container {
  min-height: 74vh;
}

.title {
  font-family: stencilStd;
  font-size: 2.5rem;
  display: inline-block;
  text-align: left;
  color: #272343;
}

.description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  display: inline-block;
  text-align: left;
  color: #272343;
}

.card {
  background-color: #272343;
  height: 30rem;
}

.social {
  margin-top: 3rem;
}
